<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>首页</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom/dashboard.css"/>
    <script type="text/javascript" src="/js/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/js/custom/layout.js"></script>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
</html>