<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="common-left" class="col-sm-3 col-md-2 sidebar" th:classappend="${navigate == 0}?'hidden'" th:switch="${navigate}">
    <ul th:case="1" class="nav nav-sidebar">
        <li th:classappend="${subNavigate == 'order'} ? 'active'"><a href="/list?pageSize=10">订单管理<span class="sr-only">(current)</span></a></li>
        <li th:classappend="${subNavigate == 'cache'} ? 'active'"><a href="/cacheView">缓存管理</a></li>
    </ul>
    <ul th:case="2" class="nav nav-sidebar">
        <li class="active"><a href="/list?pageSize=10">帮助一<span class="sr-only">(current)</span></a></li>
        <li><a href="#">帮助二</a></li>
    </ul>
</div>
</body>
</html>