<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="common-pageBar(url, pageInfo)" style="text-align:right">
    <span th:inline="text">共[[${pageInfo.total}]]条</span>
    <a th:classappend="${pageInfo.navigateFirstPage == 1} ?'hidden'" class="page-link"
       th:href="@{${url}(pageNum=1, pageSize=${pageInfo.pageSize})}">
        首页
    </a>
    <span th:classappend="${pageInfo.navigateFirstPage == 1}?'hidden'">...</span>
    <span class="page-item" th:each="pageIndex:${pageInfo.navigatepageNums}">
        <a class="page-link" th:href="@{${url}(pageNum=${pageIndex}, pageSize=${pageInfo.pageSize})}"
           th:classappend="${pageInfo.pageNum == pageIndex} ? 'hidden'">
            <span th:text="${pageIndex}"/>
        </a>
        <span th:text="${pageIndex}" th:classappend="${pageInfo.pageNum != pageIndex} ? 'hidden'"/>
    </span>
    <span th:classappend="${pageInfo.navigateLastPage == pageInfo.pages}?'hidden'">...</span>
    <a th:classappend="${pageInfo.navigateLastPage == pageInfo.pages}?'hidden'" class="page-link"
       th:href="@{${url}(pageNum=${pageInfo.pages}, pageSize=${pageInfo.pageSize})}">
        末页
    </a>
    <select name="pageSize" id="pageSize" onchange="window.location.href=this.options[this.options.selectedIndex].value">
        <option th:each="size:${#numbers.sequence(5, 50, 5)}" th:value="@{${url}(pageNum=1, pageSize=${size})}"
                th:selected="${size eq pageInfo.pageSize}">
            <span th:text="${size}"/> 条/页
        </option>
    </select>
</div>
</body>
</html>