<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"></head>
<body>
<div th:replace="common/nav :: common-nav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="common/left :: common-left"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">订单表数据</h2>
            <div class="row conditions">
                <div id="form" style='display:none;'></div>
                <form action="/list">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="userPin" name="userPin"
                               th:value="${userPin}"/>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-danger" id="searchBtn">搜索</button>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>id</th>
                        <th>userPin</th>
                        <th>orderPrice</th>
                        <th>created</th>
                        <th>modified</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="info:${pageInfo.list}"
                        th:attr="orderId=${info.id},userPin=${info.userPin},orderPrice=${info.orderPrice}">
                        <td th:text="${pageInfo.startRow + infoStat.index}"/>
                        <td th:text="${info.id}"/>
                        <td th:text="${info.userPin}"/>
                        <td th:text="${info.orderPrice}"/>
                        <td th:text="${#dates.format(info.created, 'yyyy-MM-dd HH:mm:ss')}"/>
                        <td th:text="${#dates.format(info.modified, 'yyyy-MM-dd HH:mm:ss')}"/>
                        <td>
                            <a data-toggle="modal" data-target="#editOrderModal">编辑</a>
                            <a th:href="@{/delete(id=${info.id},pageNum=${pageInfo.pageNum},pageSize=${pageInfo.pageSize})}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:replace="common/pageBar :: common-pageBar(${'/list?userPin='+(userPin==null?'':userPin)}, ${pageInfo})"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="order/editOrderModal :: editOrderModal"></div>
<script th:replace="common/footer :: common-footer"></script>
</body>
<script>
    $('#editOrderModal').on('show.bs.modal', function (event) {
        var tr = $(event.relatedTarget).parent().parent();
        $("#orderId").val(tr.attr("orderId"));
        $("#userPin").val(tr.attr("userPin"));
        $("#orderPrice").val(tr.attr("orderPrice"));
    })
</script>
</html>